.example-spacer {
    flex: 1 1 auto;
}  
mat-sidenav-container{
    height: calc(100vh - 65px);
}
mat-sidenav{
    margin: 16px;
    width: 220px;
    border-right: none;
    background-color: darkorchid;
    color: white;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}
mat-toolbar{
    background: blueviolet;
    color: white;
}
  .avatar{
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
  .name{
    margin-top: 10px;
    font-weight: normal;
}
  .designation{
    margin-top: 0.5px;
    font-size: 0.7rem;
    color: lightcyan;
}
  .menu-buttom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start ;
    font-size: 1rem;
    .mat-icon, span, a {
      margin-right: 5px;
      color: white;
        }
    }
    .content{
        height: calc(100vh - 98px);
        border-radius: 10px;
        margin: 10px;
        margin-left: 35px;
        display: flex;
        font-size: 18px;
        color: lightgray;
    }
    mat-divider{
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: white;
    }
    mat-sidenav-content{
        height: calc(100vh - 65px);
    }
    a{
      text-decoration: none;
    }