<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
      <div class="col-md-6 offset-md-3">
        <div class="content mat-elevation-z8 justify-content-center">
        
            <div class="login-form">
                <img class="avatar logo mat-elevation-z8 mt-5 " src="https://static.vecteezy.com/system/resources/thumbnails/008/214/517/small/abstract-geometric-logo-or-infinity-line-logo-for-your-company-free-vector.jpg" alt="">
                <form [formGroup]="loginForm">
                        <p class="text-danger">{{loginError}}</p>
                    <div class="mt-2 text">
                    <label for="Username"
                        class="mt-5 d-flex justify-content-center"
                    >
                        Username
                    </label>
                    <input formControlName="username" type="username" class="form-control mt-2"> 
                    <div *ngIf="username.invalid && (username.dirty || username. touched)" class="text-danger">
                        <div *ngIf="username.errors?.['required']" >
                            El usuario es requerido.
                        </div>
                        <!-- <div *ngIf="username.errors?. ['']">
                            El usuario es invalido.
                        </div> -->
                    </div>   
                    </div>
                    <div class="mt-2">
                        <label for="Password"
                        class="mt-5 d-flex justify-content-center"
                        >
                            Password
                        </label>
                        <input formControlName="password" type="password" class="form-control mt-2"> 
                        <div *ngIf="password.invalid && (password.dirty || password. touched)" class="text-danger">
                            <div *ngIf="password.errors?.['required']">
                                La contraseña es requerida.
                            </div>
                            <!-- <div *ngIf="username.errors?. ['']">
                                El usuario es invalido.
                            </div> -->
                        </div>      
                </div>
                <div class="col-md-12 d-flex justify-content-center mt-5">
                    <button type="button" class="btn btn-primary" (click)="login();">Login</button>
                </div>
                </form>
            </div>
        </div> 
     </div>

    </mat-sidenav-content>
  </mat-sidenav-container> 
