/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ng-valid:not(form).ng-touched{
    border-left:.25rem solid #4caf50!important; /* green color*/
}
.ng-invalid:not(form).ng-touched{
    border-left:.25rem solid red !important; /* error/red color*/
}